CompileFlags:
  CompilationDatabase: "build"
  Add: [-Wshadow, -Werror]
    
Diagnostics:
  ClangTidy:
    Add: [modernize-*, bugprone-*, cppcoreguidelines-*, readability-braces-around-statements]
    Remove: [modernize-avoid-bind]

Index:
  Background: Build

InlayHints:
    Enabled: Yes
